*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Brave";
    src: url("./fonts/brave-font/Brave-DZK0.ttf");
}

@font-face {
    font-family: "Okrite";
    src: url("./fonts/okrite-font/OkriteDemoRegular-YqDav.ttf");
}

:root {

    /*COLORS*/
    --blue: #1a98f2;
    --green: #5fb743;
    --orange: #fd9800;
    --yellow: #fde000;
    --white: #ffffff;
    --black: black;
}

body {
    font-family: "Okrite";
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

p {
    color: var(--orange);
}

body>a {
    /*insert ! this font-size in the media queries*/
    display: inline-block;
    color: var(--blue);
    padding: 1.5rem;
    font-size: 2em;
}

#side-menu {
    padding: 1rem;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--white);
    color: var(--green);
    transition: transform 0.3s ease-in-out;
}

.menu>a {
    color: var(--green);
    cursor: pointer;
}

.menu>ul>li {
    list-style: none;
    margin: 1rem;
}

.menu>ul>li>a {
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--green);
    border: solid 1px var(--green);
    border-radius: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

#hide {
    border-bottom: solid 1px var(--green);
    font-size: 2em;
}

#desktop {
    display: none;
}

.common-margin {
    margin: 0 1rem 1rem;
}

.common-font-size {
    font-size: 1.6em;
}

h1 {
    color: var(--green);
    font-size: 3em;
}

.disclaimer {
    font-size: 0.7rem;
    color: var(--yellow);
}

video {
    width: 270px;
    height: 540px;
}

#about>h3 {
    color: var(--blue);
}

#history>h3 {
    color: var(--blue);
}

#history>ol {
    color: var(--green);
}

#history>img {
    width: 175px;
    height: 175px;
    background-size: contain;
    border-radius: 50%;
}

main>h3 {
    color: var(--blue);
}

main>a {
    color: var(--orange);
}

#spark>h3 {
    color: var(--blue);
}

#peace>h3 {
    color: var(--blue);
}

#motivation>h3 {
    color: var(--blue);
}

footer>ul>li>a {
    color: var(--blue);
}

footer>h4,
footer>a {
    color: var(--orange);
}

@media only screen and (min-width: 900px) {
    
    #desktop {
        display: block;
    }

    #desktop>ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    #desktop>ul>li>a {
        padding: 1rem;
        text-decoration: none;
        color: var(--blue);
    }
    
    #show{
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}