*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


:root {
    --value-fixed: 1.6px;
    --violet: #390099;
    --true-red: #9E0059;
    --true-red-bright: #FF0054;
    --orange: #FF5400;
    --yellow: #FFBD00;
    --white: rgb(239, 232, 235);
}

.pick-a-boo {
    display: none;
}

body>a {
    color: var(--violet);
    font-size: clamp(1.5rem, 5vw, 3rem);
    display: inline-block;
    padding: 1.5rem 0 1.5rem 1.5rem;
}